@use '../font';

@mixin font(
  $family,
  $url,
  $weight: font.$weight-normal,
  $style: font.$style-normal
) {
  @font-face {
    font-family: $family;
    src: url($url) format('woff2');
    font-weight: $weight;
    font-style: $style;
  }
}
